<!--
  Override the theme default
  https://github.com/broccolini/athena/blob/master/_includes/footer.html
-->

<div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
  <div class="border-top-thick">
    <p class="sm-width-full left py-2 mb-0">Site maintained by <a class="text-accent" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>

    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block mr-1">
        <a href="https://twitter.com/tannerwelsh" title="@tannerwelsh on Twitter">Twitter</a>
      </li>
      <li class="inline-block mr-1">
        <a href="https://www.instagram.com/oysterbubble/" title="@oysterbubble on Instagram">Instagram</a>
      </li>
      <li class="inline-block mr-1">
        <a href="https://github.com/tannerwelsh" title="@tannerwelsh on GitHub">GitHub</a>
      </li>
      <li class="inline-block mr-1">
        <a href="https://www.linkedin.com/in/tannerwelsh" title="Tanner Welsh's profile on LinkedIn">LinkedIn</a>
      </li>
      <li class="inline-block">
        <a href="https://goodreads.com/tannerwelsh" title="Tanner Welsh's profile on Goodreads">Goodreads</a>
      </li>
    </ul>
  </div>
</div>
