<header class="clearfix header-background">
  <div class="left-lg absolute-lg left-0 top-0 px-2 py-1 sm-width-full">
    <p class="header-title">{{ site.title | downcase }}</p>
  </div>
  <div class="right-lg absolute-lg right-0 top-0 px-2 py-1 sm-width-full">
    <p>
      {% assign menu_pages = site.pages | where: "in_menu", true | sort: "menu_order" %}
      {% assign last_page = menu_pages | last %}

      {% for my_page in menu_pages %}
        <a class="italic no-underline" href="{{ my_page.url | prepend: site.baseurl }}">
          {{ my_page.title }}
        </a>
        {% if my_page.title != last_page.title %}
          &#124;
        {% endif %}
      {% endfor %}
    </p>
  </div>
</header>
