<header class="header">
  <nav class="container mx-auto px-2 py-2 flex flex-row" aria-label="main navigation">
    <span class="header-title no-wrap mt-0 mr-2">{{ site.title | downcase }}</span>
    <span>
      {% assign menu_pages = site.pages | where: "in_menu", true | sort: "menu_order" %}
      {% assign last_page = menu_pages | last %}

      {% for menu_page in menu_pages %}
        {% if menu_page.url == page.url %}
          <a class="active no-underline header-link theme-{{menu_page.color}}" href="{{ menu_page.url | prepend: site.baseurl }}">{{ menu_page.title }}</a>
        {% else %}
          <a class="no-underline header-link theme-{{menu_page.color}}" href="{{ menu_page.url | prepend: site.baseurl }}">{{ menu_page.title }}</a>
        {% endif %}
        {% if menu_page.title != last_page.title %}
          &#124;
        {% endif %}
      {% endfor %}
    </span>
  </nav>
</header>
